<log4net debug="false">

	<appender name="InfoToFogBugzAppender" type="DemiCode.Logging.log4net.Appenders.WebAppender, DemiCode.Logging.log4net" >
		<!--
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="INFO" />
			<levelMax value="INFO" />
			<acceptOnMatch value="true" />
		</filter>
		<filter type="log4net.Filter.DenyAllFilter" />
		-->

		<url value="https://demicode.fogbugz.com/ScoutSubmit.asp" />
		<parameter>
			<parameterName value="ScoutUsername" />
			<layout type="log4net.Layout.PatternLayout" value="scout" />
		</parameter>
		<parameter>
			<parameterName value="ScoutProject" />
			<layout type="log4net.Layout.PatternLayout" value="Test Project" />
		</parameter>
		<parameter>
			<parameterName value="ScoutArea" />
			<layout type="log4net.Layout.PatternLayout" value="Misc" />
		</parameter>
		<parameter>
			<parameterName value="Description" />
			<layout type="DemiCode.Logging.log4net.Layout.ExtendedPatternLayout, DemiCode.Logging.log4net">
				<conversionPattern value="%-5level - %message" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="Extra" />
			<layout type="DemiCode.Logging.log4net.Layout.ExtendedPatternLayout, DemiCode.Logging.log4net">
				<conversionPattern value="Logger: %logger%newline%newline%exceptionmessage%newline" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="Email" />
			<layout type="log4net.Layout.PatternLayout" value="test@demicode.com" />
		</parameter>
		<parameter>
			<parameterName value="ForceNewBug" />
			<!-- 1 to force FogBUGZ to create a new bug for this entry, 0 to append to bug with matching description -->
			<layout type="log4net.Layout.PatternLayout" value="0" />
		</parameter>
		<parameter>
			<parameterName value="ScoutDefaultMessage" />
			<!-- The default message to return to the user -->
			<layout type="log4net.Layout.PatternLayout" value="Thanks for your submission" />
		</parameter>
		<parameter>
			<parameterName value="FriendlyResponse" />
			<!-- 1 to respond in HTML, 0 as XML -->
			<layout type="log4net.Layout.PatternLayout" value="0" />
		</parameter>

		<!--<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
			</layout>-->

		<!-- The result from posting to our url will be forwarded to the specified appender(s) -->
		<appender-ref ref="ResultFromFogBugzSubmissionAppender" />
	</appender>

	<appender name="ResultFromFogBugzSubmissionAppender" type="log4net.Appender.MemoryAppender">
		<onlyFixPartialEventData value="true" />
	</appender>

	<!-- Setup the root category, add the appenders and set the default level -->
	<root>
		<level value="DEBUG"/>
		<appender-ref ref="InfoToFogBugzAppender"/>
	</root>
</log4net>